<div class="row container-fluid bg-light mx-0 p-3">
    <div class="col-11 mx-auto p-3" style="background: white;">
      <div class="text-center">
          <h4>Edit Product's Details</h4>
      </div>   
      <hr>
          <div class="container mx-auto p-3">
              <form action="">
                  <div class="form-group">
                      <label for="name">Product : </label>
                      <input type="text" class="form-control" placeholder="Enter product" name="name" [(ngModel)]="DATA.name">
                    </div>
                    <div class="form-group">
                      <label for="category">Category : </label>
                      <input type="text" class="form-control" placeholder="Enter category" name="category" [(ngModel)]="DATA.category">
                    </div>
                    <div class="form-group">
                      <label for="subcategory">Sub-Category : </label>
                      <input type="text" class="form-control" placeholder="Enter sub-category" name="sub-category" [(ngModel)]="DATA.subcategory">
                    </div>
                    <div class="form-group">
                      <label for="img">Image URL : </label>
                      <input type="text" class="form-control" placeholder="Enter image url" name="img" [(ngModel)]="DATA.img">
                    </div>
                    <div class="form-group">
                      <label for="description">Description : </label>
                      <input type="text" class="form-control" placeholder="Enter description" name="description" [(ngModel)]="DATA.description">
                    </div>
                    <div class="form-group">
                      <label for="price">Price (in Rs.) : </label>
                      <input type="text" class="form-control" placeholder="Enter price" name="price" [(ngModel)]="DATA.price">
                    </div>
                    <div><button class="btn btn-warning" (click)="onsubmit()">Save details</button></div>
              </form>
      </div>
    </div>
  </div>
