<div *ngIf="Return_Empty()" class="container-fluid row bg-light mx-0 p-4">
    <div class="col-7 ml-5" style="background: white">
     <div class="p-3 ml-1">
         <h4>My Cart</h4>
      <div class="column">    
        <div *ngFor=" let c of cart ">
          <hr>
          <div class="card" style="border: 0px solid black ;height: 250px;">
            <div class="card-body">
               <div class="row">
                <div class="col-4">
                   <a routerLink="/product-details" (click)="details(c.item.key)"><img src="{{c.item.img}}" style="width: 200px ; height: 200px ;box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.3) ;"></a>
                </div>
                <div class="col-8">
                    <h4>{{c.item.name}}</h4>
                    <h6>{{c.item.subcategory}}</h6>
                    <h6>{{c.item.description}}</h6>
                    <br>
                    <h4>₹  {{c.item.price * c.quantity}}</h4>
                    <br>
                    <div class="d-flex" style="width: 100%">
                        <h6><button class="font-weight-bold" (click)="decrease(c.item.key)">-</button></h6>
                        <h6 class="ml-3 mr-3">{{c.quantity}}</h6>
                        <h6><button class="font-weight-bold" (click)="increase(c.item.key)">+</button></h6>
                        <h6 class="ml-5"><button class="btn btn-danger ml-5" (click)="remove(c.item.key)">REMOVE</button></h6>
                    </div>
                   </div>
               </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <button class="btn btn-warning font-weight-bold" style="width:30%" (click)="place()">PLACE ORDER</button>
      <button class="btn btn-danger font-weight-bold ml-4" style="width:30%" (click)="clear()">CLEAR CART</button>
     </div> 
   </div>
    <div class="col-4 ml-4" style="background : white">
       <div class="p-3 ml-1">
           <h4>Bill details </h4>
           <hr>
           <div *ngFor="let c of cart">
            <br>   
           <div class="d-flex justify-content-between">
            <div><h6>{{c.item.name}} {{c.item.subcategory}}</h6></div>
            <div><h6>₹ {{c.item.price * c.quantity}}</h6></div>
           </div>
           <h6 class="font-weight-lighter">Quantity : {{c.quantity}}</h6>
           </div>
           <br>
           <hr>
           <div class="d-flex justify-content-between">
            <div><h6>Delivery</h6></div>
            <div><h6 class="text-success">FREE</h6></div>
           </div>
           <hr>
           <div class="d-flex justify-content-between">
            <div><h6 class="font-weight-bold">Total Bill</h6></div>
            <div><h6 class="font-weight-bold">₹ {{cash}}</h6></div>
           </div>
           <div *ngFor="let c of cart">
              
           </div>
       </div>
    </div>
   </div>
   
   <div *ngIf="!Return_Empty()" class="row container-fluid p-4 mx-0 bg-light">
     <div class="col-8 mx-auto" style="background: white ; ">
      <img src="/assets/Cart-empty.gif" style="width: 100% ; height: 60%;">
      <div class="mt-4 p-2"><h4 class="text-center">Empty Cart ?</h4>
      <h6 class="text-center font-weight-lighter">Add products now...</h6></div>
      <div class="col-5 mx-auto"><button class="btn btn-warning ml-5" style="width: 75%" (click)="toHome()">HOME</button></div>
     </div>
   </div>
   